.body_style{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.image_style {
  height: 300px;
  width: 300px;
  text-align: center;
}

.name_font_style{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(100, 100, 100);
  text-align: center;
  padding-bottom:10px;
  border-bottom: 1px solid rgb(200, 200, 200,0.5);
}

.image_layout{
  border: 1px solid rgb(200,200,200,0.5);
  border-radius: 10px;
  margin: 10px 0px;
}

.image_layout:hover{
  transition-property:background,opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  background: rgba(78, 74, 74, 0.2);
  cursor: pointer;
}
