.body_style{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.image_style {
  height: 300px;
  width: 300px;
  text-align: center;
}

.name_font_style{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.image_layout{
  border: solid black;
  border-radius: 10px;
  border-block-end-width: 1.2px;
  border-block-start-width: 1.2px;
  margin: 10px 0px 10px 0px;
}

.image_layout:hover{
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  background: #ebb490;
}
